{
  "extends": [
    "standard",
    "prettier",
    "prettier/standard",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "import",
    "prettier",
    "standard",
    "jest"
  ],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "new-cap": 0,
    "prettier/prettier": 2
  }
}
